@import "./../tokens.scss";

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background: $collection-1-colors-purple-purple-600;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  padding: 50px;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.input-label {
  align-self: flex-start;
  font-size: 40px; 
  font-weight: bold;
  color: white;
  margin-top: 20px;
}

.input-field {
  width: 100%;
  padding: 16px;
  border-radius: 35px;
  border: none;
  background: #C29FFA;
  font-size: 18px;
  color: white;
  outline: none;
  text-indent: 15px;

  &::placeholder {
    color: white;
    opacity: 0.8;
  }
}

.login-button {
  margin-top: 30px;
  width: 50%;
  padding: 16px;
  background-color: #B187F7;
  color: white;
  border: none;
  border-radius: 35px;
  font-size: 40px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;

  &:hover {
    background-color: darken(#B187F7, 10%);
  }
}

/* Media Query für Bildschirme mit max. 650px Breite */
@media (max-width:750px) {
  .login-form {
    width: 90%;      // Reduzierte Breite, damit es besser ins mobile Layout passt
    padding: 40px 20px; // Erhöht das vertikale Padding (oben und unten)
    min-height: 565px;  // Setzt eine Mindesthöhe, damit das Formular größer ist
    // Weniger Padding für kleinere Displays
  }

  .input-label {
    font-size: 28px; // Kleinere Schriftgröße, damit sie nicht zu dominant wirkt
    margin-top: 15px;
  }

  .input-field {
    padding: 12px;   // Leicht reduziertes Padding
    font-size: 16px; // Kleinere Schriftgröße
    border-radius: 30px;
  }

  .login-button {
    width: 70%;      // Mehr Breite, damit der Button prominenter ist
    font-size: 30px; // Angepasste Button-Schriftgröße
    padding: 12px;
  }
}