@import "./../tokens.scss";

.chart-outer-container {
  background-color: $collection-1-colors-purple-purple-600; 
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-inner-container {
  background-color: $collection-1-colors-purple-purple-200;
  border-radius: 24px;
  width: 100%;
  max-width: 1600px;
  padding: 50px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  justify-content: space-between; 
}

.chart-header {
  background-color: $collection-1-colors-purple-purple-100;
  border-radius: 52px;
  padding: 24px;
  font-size: 50px;
  text-align: center;
  font-weight: 600;
  margin: -10px;
  color: $collection-1-colors-purple-purple-400;
  
  strong {
    color: $collection-1-colors-purple-purple-400;
    font-weight: 600;
    margin-left: 110px;
  }
}

.chart-content {
  display: flex;
  gap: 100px; 
  align-items: center;
  position: relative; 
  justify-content: flex-start;
  width: 100%;
  margin-top: 40px;
}

.chart-visual {
  flex: 4; 
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 18px;
  margin-left: 35px;

  canvas {
    max-width: 100%;
    max-height: 1000px;
  }
}

.chart-legend {
  flex: 600px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 23px;
  background-color: #e0e0e0; 
  padding: 25px;
  border-radius: 16px;
  margin-top: -10px;
  margin-bottom: 15px;
  margin-right: 45px;
}

.legend-row {
  display: flex;
  gap: 150px;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 40px;
  color: black;
  flex: 1;
  background-color: $collection-1-colors-purple-purple-300;
  padding: 12px 16px;
  
  .color-box {
    width: 28px;
    height: 28px;
    border-radius: 6px;
    flex-shrink: 0;
  }
  
  span {
    text-align: center;
    width: 100%;
  }
}

.chart-icon {
  position: absolute;
  bottom: -60px;
  right: 49px;
  cursor: pointer;

  img {
    width: 70px;
    height: 70px;
    margin-bottom: 5px;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.year-selector {
  position: absolute;
  bottom: -180px;
  right: 0;
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.year-option {
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
  
  &:hover {
    background-color: #f0f0f0;
  }
}