<!-- Desktop-Version -->
<div class="desktop-navbar">
  <div class="navbar-container">
    <div class="navbar-left">
      <h1 class="navbar-title">{{ title }}</h1>
    </div>
    <div class="navbar-right">
      <!-- Icons bleiben gleich -->
      <button class="icon-button" [class.active]="isActive('logout')" (click)="navigateTo('logout')">
        <img class="icon-placeholder" src="/user.png" alt="User-icon">
      </button>
      <button class="icon-button" [class.active]="isActive('workspaces')" (click)="navigateTo('workspaces')">
        <img class="icon-placeholder" src="/folder.png" alt="Folder-icon">
      </button>
      <button class="icon-button" [class.active]="isActive('vouchers')" (click)="navigateTo('vouchers')">
        <img class="icon-placeholder" src="/tag.png" alt="Discount-icon">
      </button>
      <button class="icon-button" [class.active]="isActive('uploads')" (click)="navigateTo('uploads')">
        <img class="icon-placeholder" src="/calendar.png" alt="calendar-icon">
      </button>
    </div>
  </div>
</div>

<!-- Mobile-Version -->
<div class="mobile-header">
  <h1 class="mobile-title">{{ title }}</h1>
</div>
<div class="mobile-navbar">
  <button class="icon-button" [class.active]="isActive('logout')" (click)="navigateTo('logout')">
    <img class="mobile-icon" src="/user.png" alt="User-icon">
  </button>
  <button class="icon-button" [class.active]="isActive('workspaces')" (click)="navigateTo('workspaces')">
    <img class="mobile-icon" src="/folder.png" alt="Folder-icon">
  </button>
  <button class="icon-button" [class.active]="isActive('vouchers')" (click)="navigateTo('vouchers')">
    <img class="mobile-icon" src="/tag.png" alt="Discount-icon">
  </button>
  <button class="icon-button" [class.active]="isActive('uploads')" (click)="navigateTo('uploads')">
    <img class="mobile-icon" src="/calendar.png" alt="calendar-icon">
  </button>
</div>