<div [ngClass]="customClass">
  <div class="list-box">
    <div class="scrollable-list">
      <div class="list-item" *ngFor="let workspace of workspaces"
      [ngClass]="{'active': workspace.SubscriptionStatus === 'Active', 'inactive': workspace.SubscriptionStatus !== 'Active'}"
      (click)="onWorkspaceClick(workspace.Id)"
      >
        <span class="workspace-name">{{ workspace.Name }}</span>
        <img class="upload-icon" src="/Upload_image.png" alt="Upload">
        <span class="random-number">{{ 14 }}</span>
      </div>
    </div>
  </div>
</div>

