<div class="submissions-container">
  <div class="content-box">
    <div class="box">
      <app-workspace-list
      [workspaces]="workspaces"
      [customClass]="'submission-theme'"
      (workspaceSelected)="selectWorkspace($event)">
      </app-workspace-list>
    </div>
    <div class="box right-box">
      <div class="scrollable-list">
        <div class="list-item" *ngFor="let voucher of filteredVouchers">
          {{ voucher.VoucherCode }} - {{ voucher.VoucherPrize }}
        </div>
      </div>
    </div>
  </div>
</div>
